/* Dashboard CSS module without Tailwind @apply */

.progressBar {
  background-color: var(--primary);
  height: 100%;
  transition: all 0.2s ease;
  width: var(--progress);
}

.feedAvatar {
  width: 2.5rem; /* 40px */
  height: 2.5rem;
  border-radius: 9999px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--surface-border);
  background-image: var(--bgImg);
}

.voteBar {
  height: 100%;
  transition: all 0.2s ease;
  width: var(--voteWidth);
}
